__pycache__
test.py
fluidEvolution.mp4
data

**.ilg
**.ind
**.log
**.out
**.synctex.gz
**.xdv
**.fls
**.fdb_latexmk
**.toc
**.idx
***.aux
**.toc
**.bbl
**.json
.vscode
**.blg
**.bcf
**.bbl
**.auxlock
**.run.xml
**.pygtex